#groomsmen {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  position: relative;

  .container {
	position: absolute;
  }
}

.groomsmen {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .modal-backdrop {
	display: none;
  }

  .modal-body {
	padding: 0;
	position: relative;
  }

  .modal-dialog {
	width: 100%;
	margin: 0;
  }

  .modal-dialog, .modal-content, .modal-body {
	height: 100%;
	overflow: hidden;
  }

  .form-group {
	width: 100%;
	max-width: 600px;
  }

  button.close {
	font-size: 36px;
	margin: 16px;
	position: absolute;
	right: 0;
	z-index: 2000;
  }

  .fa-check {
	color: green;
  }

  .groomsman {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 16px 0;

	&-headshot {
	  border-radius: 50%;
	  width: 200px;
	  margin: 20px;
	}

	&-hint {
	  font-size: 18px;
	}

	&-form {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}

	&-question {
	  display: block;
	}
  }

  .groomsman-reveal {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	height: 100%;

	p {
	  font-size: 16px;
	  line-height: 32px;
	  width: 50%;
	}

	img {
	  height: 50%;
	}
  }

  .groomsman-accept {
	display: block;
	margin-top: 16px;
  }

  footer {
	p {
	  padding: 20px;
	}
  }


}
