.groomsmen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .modal-backdrop {
	display: none;
  }

  .modal-body {
	padding: 0;
	position: relative;
  }

  .modal-dialog {
	width: 100%;
	margin: 0;
  }

  .modal-dialog, .modal-content, .modal-body {
	height: 100%;
	overflow: hidden;
  }

  button.close {
	font-size: 36px;
	margin: 16px;
	position: absolute;
	right: 0;
	z-index: 100;
  }

  .fa-check {
	color: green;
  }

  .groomsman {
	display: flex;
	flex-direction: column;
	align-items: center;

	&-headshot {
	  border-radius: 50%;
	  width: 200px;
	  margin: 20px;
	}

	&-hint {
	  font-size: 18px;
	}

	&-form {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}
  }

  .groomsman-reveal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100%;

	p {
	  font-size: 16px;
	  line-height: 32px;
	  width: 50%;
	}

	img {
	  height: 50%;
	}
  }

  footer {
	p {
	  padding: 20px;
	}
  }


}
